.Container{
    width: 80%;
    margin-left: 13%;
    margin-right: 10%;
   

     }

     .Container2{
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
       background-color: whitesmoke;
     
         }

     .h4{
        text-align: center;
        font-size:26px ;
        font-family: Helvetica;
    }

    .imgDiv{
            display:'flex';
            flex-direction:'column';
            align-content:'space-between';
            transition: transform .4s;
            
            border-left: 1px solid grey;
            height: 300px;
            padding-left:'2px';
          
    }
    .imgDiv :hover{
        transition:scale(1.6);
        transition-delay: 0.3s ease;
        width: 200px;
        box-shadow: 0 2px 2px rgb(11 25 28 / 10%);
    }